TYPE html>
<html>
<head>
  <title>climate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative;
      background-color:#00FFCC;
  }
  .navbar {
        background-color:#00FFCC;
        background-image: none;
        border:none;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
    text-shadow: black 0.1em 0.1em 0.2em;
    border:none;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
  }
  #section1 {padding-top:50px;height:1600px;color: #fff; background-color: #00bcd4;}

	svg {
	  font: 10px sans-serif;
	}

	.area {
	  fill: #ff99dd;
	  clip-path: url(#clip);
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	.grid-background {
	  fill: #ddd;
	}
	.grid line,
	.grid path {
	  fill: none;
	  stroke: #fff;
	  shape-rendering: crispEdges;
	}
	.grid .minor.tick line {
	  stroke-opacity: .5;
	}
	.brush .extent {
	  stroke: #fff;
	  fill-opacity: .125;
	  shape-rendering: crispEdges;
	  clip-path: url(#clip);
	}

	rect.pane {
	  cursor: move;
	  fill: none;
	  pointer-events: all;
	}
	.tick line{
	  opacity: 0.2;
	}
	.line{
	   fill: none;
	   stroke: #64B98C;
	   stroke-width: 2px;
	}

   
  </style>
  
  </head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Climate Change</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href='http://localhost/application/page1.html'>Home</a></li>
          <li><a href='http://localhost/application/page2.html'>climate</a></li>
          <li><a href='http://localhost/application/page3.html'>about</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>    

<div id="section1" class="container-fluid">
  <h2>Multi-Dimension visualization climate change</h2>
  <p>map and graph</p>
  <div class="container">
  <br>
  
    <p id="demo"></p>
    <div id="map_p" style="background-color:#ffffe6; position:relative; left: -20px; width:900px; height:500px; border:1px solid #d6d6c2;color:#ffffe6;">
       <span id="info" style="position:absolute; left:15px; bottom:5px; color:#000; z-index:50;"></span>
    </div>
    <div id="tool" style="position:relative; left: 1000px; width:150px; height:50px; top:-400px;">
                  <p>Variable</p>
		  <select id="vars" style="color:gray">
		    <option value="1">Temperature</option>
		    <option value="2">Precipitation </option>
		  </select>
     </div>
        
     <div id="tool2" style="position:relative; left: 1000px; width:150px; height:50px; top:-390px;">
                  <p>Index</p>
		  <select id="index" style="color:gray">
		    <option value="max">Max</option>
		    <option value="avg">Average</option>
                    <option value="min">Min</option>
		  </select>
     </div>
    
    <div id="map" style="background-color:#ffffe6; position:relative; left: -40px; width:550px; height:420px; border:1px solid #d6d6c2;">
       <span id="info" style="position:absolute; left:15px; bottom:5px; color:#000; z-index:50;"></span>
    </div>
    <div id="map2" style="background-color:#ffffe6; position:relative; left: 550px; top:-420px; width:640px; height:420px; border:1px solid #d6d6c2;">
       <span id="info" style="position:absolute; left:15px; bottom:5px; color:#000; z-index:50;"></span>
    </div>
  
</div>

</div>
  <p style="font-family:courier;font-size:130%;">CprE. KMUTNB</p>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="jquery-1.12.4.min.js"></script>
<script>
 

function interac_chart(data_plot,name,ind) {

   var parseDate = d3.time.format("%Y-%m-%d").parse;
   
      
    var data = data_plot.map(function(d) {
       return {
          date: parseDate(d[0]),
          close: d[1]
       };
      
     });
   //var nim ;
   var margin = {top: 30, right: 40, bottom: 80, left: 40},
    margin2 = {top: 340, right: 40, bottom: 20, left: 40},
    width = 500 - margin.left - margin.right,
    width2 = 500 - margin2.left - margin2.right,
    height = 400 - margin.top - margin.bottom,
    height2 = 400 - margin2.top - margin2.bottom;

   var x = d3.time.scale().range([0, width]),
    x2 = d3.time.scale()
    .domain(d3.extent(data, function(d) { return d.date; }))
    .range([0, width]);

   var y = d3.scale.linear().range([height, 0]),
       y2 = d3.scale.linear().range([height2, 0]);

   var xAxis = d3.svg.axis().scale(x).orient("bottom"),
       xAxis2 = d3.svg.axis().scale(x2).orient("bottom");

   var yAxis = d3.svg.axis().scale(y).orient("left");
    
   var brush = d3.svg.brush()
    .x(x2)
    .extent(d3.extent(data, function(d) { return d.date; }))
    .on("brushend", brushended)
    .on("brushend", brusher2);


   var area = d3.svg.area()
    .interpolate("monotone")
    .x(function(d) { return x(d.date); })
    .y0(height)
    .y1(function(d) { return y(d.close); });

    var area2 = d3.svg.area()
    .interpolate("monotone")
    .x(function(d) { return x2(d.date); })
    .y0(height2)
    .y1(function(d) { return y2(d.close); });

   var svg = d3.select("#map").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom);
    
   svg.append("defs").append("clipPath")
     .attr("id", "clip")
     .append("rect")
     .attr("width", width)
     .attr("height", height);
   
   var focus = svg.append("g")
     .attr("class", "focus")
     .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
   
  var context = svg.append("g")
     .attr("class", "context")
     .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");
  
    
   var zoom = d3.behavior.zoom().on("zoom", draw);

   var rect = svg.append("svg:rect")
      .attr("class", "pane")
      .attr("width", width)
      .attr("height", height)
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(zoom);

    
   x.domain(d3.extent(data, function(d) { return d.date; }));
   y.domain(d3.extent(data, function(d) { return d.close; }));
   x2.domain(x.domain());
   y2.domain(y.domain());

   //zoom.x(x);
    focus.append("path")
      .datum(data)
      .attr("class", "area")
      .attr("d", area);

    focus.append("g")
       .attr("class", "x axis")
       .attr("transform", "translate(0," + height + ")")
       .call(xAxis);

    focus.append("g")
       .attr("class", "y axis")
       .call(yAxis);

    focus.append("text")
       .attr("transform", "rotate(-90)")
       .attr("x", -23 )
       .attr("y",10 )
       .style("font-family", "sans-serif")
       .style("fill", "#e60000")
       .style("text-anchor", "middle")
       .text(name);

    focus.append("text")
       .attr("x", width+20)
       .attr("y", height+5 )
       .style("font-family", "sans-serif")
       .style("fill", "#e60000")
       .style("text-anchor", "middle")
       .text("years");

    focus.append("text")
       .attr("x", width/2 )
       .attr("y", -10 )
       .style("fill", "#000033")
       .style("font-family", "sans-serif")
       .style("text-anchor", "middle")
       .attr("font-size", "15px")
       .text(name+" in 1970-1979");

   context.append("g")
    .attr("class", "x grid")
    .attr("transform", "translate(0," + height2 + ")")
    .call(d3.svg.axis()
        .scale(x2)
        .orient("bottom")
        .ticks(d3.time.months, 6)
        .tickSize(-height2)
        .tickFormat(""))
    .selectAll(".tick")
    .classed("minor", function(d) { return d.getHours(); });
 

  context.append("path")
      .datum(data)
      .attr("class", "area")
      .attr("d", area2);

   context.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height2 + ")")
    .call(d3.svg.axis()
      .scale(x2)
      .orient("bottom")
      .ticks(d3.time.years)
      .tickPadding(0))
    .selectAll("text")
    .attr("x", 6)
    .style("text-anchor", null)
    .call(xAxis2);

   context.append("g")
    .attr("class", "brush")
    .call(brush)
    .call(brush.event)
    .selectAll("rect")
    .attr("height", height2);
  
  function brushended() {
    if (!d3.event.sourceEvent) return; // only transition after input
    var extent0 = brush.extent(),
        extent1 = extent0.map(d3.time.year.round);
        cal_year(extent1,data_plot,ind,name);
     
    // if empty when rounded, use floor & ceil instead
    if (extent1[0] >= extent1[1]) {
        extent1[0] = d3.time.year.floor(extent0[0]);
        extent1[1] = d3.time.year.ceil(extent0[1]);
     }

    x.domain(brush.empty() ? x2.domain() : brush.extent());
    
    d3.select(this).transition()
      .call(brush.extent(extent1))
      .call(brush.event)
      .call(focus.select(".area").attr("d", area));
    //focus.select(".area").attr("d", area);
    //focus.select(".x.axis").call(xAxis);
    //Reset zoom scale's domain
     
    zoom.x(x);
  }
  function brusher2(){
    if (!d3.event.sourceEvent) return; // only transition after input
    var extent0 = brush.extent(),
        extent1 = extent0.map(d3.time.year.round);
    cal_year(extent1,data_plot,ind,name);
    // if empty when rounded, use floor & ceil instead
    if (extent1[0] >= extent1[1]) {
        extent1[0] = d3.time.year.floor(extent0[0]);
        extent1[1] = d3.time.year.ceil(extent0[1]);
     }
    
    x.domain(brush.empty() ? x2.domain() : brush.extent());
    
    d3.select(this).transition()
      .call(brush.extent(extent1))
      .call(brush.event)
      .call(focus.select(".x.axis").call(xAxis));
    //focus.select(".area").attr("d", area);
    //focus.select(".x.axis").call(xAxis);
    //Reset zoom scale's domain
    zoom.x(x);
  }
  function draw() {
        focus.select(".area").attr("d", area);
        focus.select(".x.axis").call(xAxis);
        //Force changing brush range
        brush.extent(x.domain());
        svg.select(".brush").call(brush);
  }
  console.log("Hello");
  /*requestData(function(dataplot) {
       console.log(dataplot);
  });*/
}


function cal_year(rang_year,data,ind,name_var) {
     var parseD = d3.time.format("%Y-%m-%d").parse;
     //document.getElementById("demo").innerHTML = rang_year[0].getFullYear()+","+rang_year[1].getFullYear();
     start = rang_year[0].getFullYear();
     end = rang_year[1].getFullYear();   
     //document.getElementById("demo").innerHTML = data[0];
     var year = [];
     var val = [];
     var year2 = [];
          //var mss = data[0];
      data.forEach(function(d,i) {
          year[i] = parseD(d[0]).getFullYear();
          val[i] = d[1];
          year2[i] = d[0];
      });
      
      e_year = end - start;

      val_cut = [];
      dat_cut = [];
      for(var i = 0;i<val.length;i++){
          if(year[i]>=start&&year[i]<end){
             val_cut.push(val[i-1]);//start index 0
              // val_cut.push(val[i]);//start index 1
             dat_cut.push(year2[i-1]);
          }
      }
      //------------------------------------------------------
      val_sum = [];

      for(var j=0;j<12;j++){
           val_sum[j] = 0;
      }

      k = 0;
      count = 0;

      for(var i = 0;i<e_year;i++){
	  for(var j=0;j<12;j++){
                val_sum[j] = val_sum[j]+val_cut[j+count];
           }

           k = k+1;
           count = 12*k;
       }
      val_avg = [];
      //----------------------Calculate------------------------------
      for(var j=0;j<12;j++){
            val_avg[j] = val_sum[j]/e_year;
           /*if(ind == 'avg'){
               val_avg[j] = val_sum[j]/e_year;
           }else if(ind == 'min'){
               val_avg[j] = Math.min.apply(Math, val_sum[j]);
           }else if(ind == 'max'){
               val_avg[j] = Math.max.apply(Math, val_sum[j]);
           }*/
          
      }
      
      //----------------------append---------------------------
      var month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
      var data_pg = new Array(11);
      for(var i = 0;i<12;i++){
         data_pg[i] = new Array(1);
         for(var j=0;j<2;j++){
              if(j==0){
                   data_pg[i][j] = month[i];
               }else if(j==1){
                   data_pg[i][j] = val_avg[i];
               }
         
         }
      }
     //--------------------Call Plot Graph--------------------
     //document.getElementById("demo").innerHTML = val_avg;
     d3.select("#map2").selectAll("svg").remove(); 
     //document.getElementById("demo").innerHTML = da[[0]];
     int_chart(data_pg,name_var,start+"-"+(end-1));

}
function int_chart(mon_plot,name,rang_name) {
    //d3.selectAll("svg > *").remove();
    var margin3 = {top: 30, right: 40, bottom: 110, left: 40},
    width3 = 640 - margin3.left - margin3.right,
    height3 = 500 - margin3.top - margin3.bottom;

    var parseD = d3.time.format("%b").parse;

    var x3 = d3.time.scale().range([0, width3])
    var y3 = d3.scale.linear().range([height3, 0]);

    var xAxis3 = d3.svg.axis().scale(x3).orient("bottom");
    var yAxis3 = d3.svg.axis().scale(y3).orient("left");

    var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x3(d.date); })
    .y(function(d) { return y3(d.close); });

    var svg = d3.select("#map2").append("svg")
     .attr("width", width3 + margin3.left + margin3.right)
     .attr("height", height3 + margin3.top + margin3.bottom)
     .append("g")
     .attr("transform", "translate(" + margin3.left + "," + margin3.top + ")");

    svg.append("rect")
     .attr("width", width3)
     .attr("height", height3)
     .attr("fill", "#f5f5f0");

   
    var data3 = mon_plot.map(function(d) {
       //document.getElementById("demo").innerHTML = d[0];
       return {
          date: parseD(d[0]),
          close: d[1]
       };
      
     });
     
     x3.domain(d3.extent(data3, function(d) { return d.date; }));
     y3.domain(d3.extent(data3, function(d) { return d.close; }));
 
    svg.append("path")
      .datum(data3) 
      .attr("class", "line")
      .attr("d", line);

    svg.append("g")
       .attr("class", "x axis")
       .attr("transform", "translate(0," + height3 + ")")
       .call(xAxis3);

    svg.append("g")
       .attr("class", "y axis")
       .call(yAxis3);

    svg.append("text")
       .attr("transform", "rotate(-90)")
       .attr("x", -23 )
       .attr("y",10 )
       .style("font-family", "sans-serif")
       .style("fill", "#e60000")
       .style("text-anchor", "middle")
       .text(name);

    svg.append("text")
       .attr("x", width3+20)
       .attr("y", height3+5 )
       .style("font-family", "sans-serif")
       .style("fill", "#e60000")
       .style("text-anchor", "middle")
       .text("month");

    svg.append("text")
       .attr("x", width3/2 )
       .attr("y", -10 )
       .style("fill", "#000033")
       .style("font-family", "sans-serif")
       .style("text-anchor", "middle")
       .attr("font-size", "15px")
       .text("Temperature in Jan-Dec of "+rang_name);

}

   var mon_t = {{mon|safe}}
   var mon_p = {{mon_p|safe}}
//------------Avg year---------------
   var tem_avg = {{dat|safe}}
   var pre_avg = {{per_y|safe}}

//------------min year---------------
   var tem_min = {{min_t|safe}}
   var pre_min = {{min_p|safe}}


//------------max year---------------
   var tem_max = {{max_t|safe}}
   var pre_max = {{max_p|safe}}
 //int_chart(mon_plot);
 //interac_chart(tem_avg,"Temperature °C");
//----------- select ----------------
       $("select#vars").change(function(){
              x = $(this).val();
           $("select#index").change(function(){
              y = $(this).val();
              //document.getElementById("demo").innerHTML = y+" "+x;
             if(x==1&&y=='avg'){
                  d3.select("#map").selectAll("svg").remove();
                  d3.select("#map2").selectAll("svg").remove();
                  interac_chart(tem_avg,"Temperature °C",'avg');
                  int_chart(mon_t,"Temperature °C","1970-1979")
	      }else if(x==2&&y=='avg'){
                  d3.select("#map").selectAll("svg").remove();
                  d3.select("#map2").selectAll("svg").remove();
                  int_chart(mon_p,"Precipitation mm/hr","1970-1979")
                  interac_chart(pre_avg,"Precipitation mm/hr",'avg');
              }else if(x==1&&y=='min'){
                  d3.select("#map").selectAll("svg").remove();
		  
                  interac_chart(tem_min,"Temperature °C",'min');
                  
              }else if(x==2&&y=='min'){
                  d3.select("#map").selectAll("svg").remove();
		 
                  interac_chart(pre_min,"Precipitation mm/hr",'min');
              }else if(x==1&&y=='max'){
                  d3.select("#map").selectAll("svg").remove();
		 
                  interac_chart(tem_max,"Temperature °C",'max');
              }else if(x==2&&y=='max'){
                  d3.select("#map").selectAll("svg").remove();
		  
                  interac_chart(pre_max,"Precipitation mm/hr",'max');
              }
   
	   })
       })

</script>

</html>
